#home-view {
  width: 480px;
  margin: 0 auto;
}

h1 {
  padding-left: 138px;
  margin-bottom: 0.5em;
  font-size: 5em;
  color: #fff;
  border-radius: 5px;
  background-color: #91a2c0;
  background-image: url('http://brunch.io/images/brunch.png');
  background-repeat: no-repeat;
  background-position: 2px;
}
